.esri-view-surface.esri-view-surface--inset-outline::after {
  outline: none !important;
}
.esri-view-surface.esri-view-surface--touch-none {
  outline: none !important;
}
.esri-view-surface {
  outline: none !important;
}

@media (min-width: 0px) and (max-width: 600px) {
  .esri-zoom {
    transform: scale(0.6) translate(-25px, -30px) !important;
  }
  .esri-compass {
    transform: scale(0.6) translate(-25px, -65px) !important;
  }
  .esri-search {
    transform: scale(0.6) translate(85px, -20px) !important;
  }
  .esri-attribution {
    height: 10px !important;
  }
  .esri-attribution__powered-by {
    height: 10px !important;
    font-size: 8px !important;
    line-height: 8px !important;
  }
  .esri-attribution__sources {
    height: 10px !important;
    font-size: 8px !important;
    line-height: 8px !important;
  }

  .esri-legend {
    transform: translate(0px, 15px) !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 2000px !important;
    height: 40px !important;
  }
  .esri-legend > div {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__service {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .esri-legend__layer-table {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer-caption {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 1px !important;
    margin-left: 0 !important;
    font-size: 10px !important;
    line-height: 10px !important;
    font-weight: bold !important;
    height: 10px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .esri-legend__layer-body {
    margin-left: 0 !important;
    height: 24px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }
  .esri-legend__layer-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 12px !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--symbols {
    transform: scale(0.4) translate(0px, -10px) !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--info {
    font-size: 9px !important;
    line-height: 9px !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
    min-width: 0px !important;
  }
}


@media (min-width: 601px) and (max-width: 960px) {
  .esri-zoom {
    transform: scale(0.7) translate(-15px, -20px) !important;
  }
  .esri-compass {
    transform: scale(0.7) translate(-15px, -45px) !important;
  }
  .esri-search {
    transform: scale(0.7) translate(55px, -15px) !important;
  }
  .esri-attribution {
    height: 10px !important;
  }
  .esri-legend {
    padding: 0 !important;
    margin: 0 !important;
    width: 110px !important;
    height: 125px !important;
  }
  .esri-legend > div {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__service {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .esri-legend__layer-table {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer-caption {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 6px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: bold !important;
    height: 12px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .esri-legend__layer-body {
    margin-left: 0 !important;
    height: 98px !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 100% !important;
  }
  .esri-legend__layer-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 14px !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--symbols {
    transform: scale(0.5) translate(0px, -10px) !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--info {
    font-size: 10px !important;
    line-height: 10px !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
    min-width: 0px !important;
  }
}

@media (min-width: 961px) and (max-width: 1280px) {
  .esri-zoom {
    transform: scale(0.8) translate(-10px, -15px) !important;
  }
  .esri-compass {
    transform: scale(0.8) translate(-10px, -30px) !important;
  }
  .esri-search {
    transform: scale(0.8) translate(30px, -10px) !important;
  }
  .esri-attribution {
    height: 11px !important;
  }
  .esri-attribution__powered-by {
    height: 11px !important;
    font-size: 9px !important;
    line-height: 9px !important;
  }
  .esri-attribution__sources {
    height: 11px !important;
    font-size: 9px !important;
    line-height: 9px !important;
  }

  .esri-legend {
    transform: translate(0px, 15px) !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 2000px !important;
    height: 52px !important;
  }
  .esri-legend > div {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__service {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .esri-legend__layer-table {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer-caption {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    font-size: 12px !important;
    line-height: 12px !important;
    font-weight: bold !important;
    height: 12px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .esri-legend__layer-body {
    margin-left: 0 !important;
    height: 32px !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
  }
  .esri-legend__layer-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 16px !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--symbols {
    transform: scale(0.5) translate(0px, -10px) !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--info {
    font-size: 12px !important;
    line-height: 12px !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
    min-width: 0px !important;
  }
}

@media (min-width: 1281px) {
  .esri-zoom {
    transform: scale(0.9) translate(-5px, -5px) !important;
  }
  .esri-compass {
    transform: scale(0.9) translate(-5px, -10px) !important;
  }
  .esri-search {
    transform: scale(0.9) translate(10px, -5px) !important;
  }

  .esri-legend {
    padding: 0 !important;
    margin: 0 !important;
    width: 150px !important;
    height: 155px !important;
  }
  .esri-legend > div {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__service {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .esri-legend__layer-table {
    height: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .esri-legend__layer-caption {
    padding: 0 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    font-size: 14px !important;
    line-height: 14px !important;
    font-weight: bold !important;
    height: 14px !important;
    width: 100% !important;
    text-align: center !important;
  }
  .esri-legend__layer-body {
    margin-left: 0 !important;
    height: 126px !important;
    display: flex !important;
    flex-direction: column !important;
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    width: 100% !important;
  }
  .esri-legend__layer-row {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
    height: 18px !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--symbols {
    transform: scale(0.5) translate(0px, -10px) !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
  }
  .esri-legend__layer-cell--info {
    font-size: 14px !important;
    line-height: 14px !important;
    padding: 0 !important;
    height: 100% !important;
    width: max-content !important;
    min-width: 0px !important;
  }
}
