.esri-view-surface.esri-view-surface--inset-outline::after {
  outline: none !important;
}
.esri-view-surface.esri-view-surface--touch-none {
  outline: none !important;
}
.esri-view-surface {
  outline: none !important;
}
.esri-legend {
  width: 130px !important;
  margin: 0 !important;
}
.esri-legend__service {
  padding: 0 !important;
}
.esri-legend__layer {
  margin: 0 !important;
}
.esri-legend__layer-table {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.esri-legend__layer-body {
  margin: 0px !important;
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
.esri-legend__layer-caption {
  font-weight: 500;
  width: max-content;
}
.esri-legend__layer-row {
  height: 31px !important;
  width: 120px !important;
}
.esri-legend__layer-cell {
  padding: 2px 4px !important;
}
.esri-popup__content {
  height: 100px;
}

@media (max-width: 960px) {
  .esri-legend__layer-body {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  .esri-legend {
    width: 930px !important;
    height: max-content !important;
    overflow-y: hidden !important;
  }
  .esri-legend__layer-caption {
    height: 10px;
    font-size: 10px;
    font-weight: bold;
    padding: 0 !important;
  }
  .esri-legend__layer-row {
    height: 14px !important;
    font-size: 14px;
    width: max-content !important;
  }
  .esri-legend__layer-table {
    margin: 0 !important;
  }
  .esri-legend__layer-body {
    margin: 0 0 4px 0 !important;
    height: 35px;
  }
  .esri-legend__layer-cell.esri-legend__layer-cell--symbols {
    padding: 0 !important;
    height: 14px !important;
  }
  .esri-legend__layer-cell.esri-legend__layer-cell--info {
    padding: 0 !important;
    height: 14px !important;
    width: max-content !important;
    min-width: 0 !important;
  }
  .esri-legend__layer-cell.esri-legend__layer-cell--symbols > div > div > svg {
    transform: scale(0.45);
  }
}
